//- vim: filetype=javascript
//- Copyright (c) 2015, Randy Westlund.  All rights reserved.
//- 
//- Redistribution and use in source and binary forms, with or without
//- modification, are permitted provided that the following conditions are met:
//- 
//- 1. Redistributions of source code must retain the above copyright notice, this
//- list of conditions and the following disclaimer.
//- 
//- 2. Redistributions in binary form must reproduce the above copyright notice,
//- this list of conditions and the following disclaimer in the documentation
//- and/or other materials provided with the distribution.
//- 
//- THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
//- ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
//- WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
//- DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
//- FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
//- DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
//- SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
//- CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
//- OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
//- OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.row
    .col-md-6.col-xs.12
        .well
            h3.tight Welcome!
            p Welcome to our recipe database!  This started as a project just for my wife and I, because we got tired of keeping track of a bunch of links to other websites with inconsistent formatting, changing links, etc.

            p We decided to improve it and open it to others.  Anyone can access information here, and family and friends will have the ability to log in and add recipes.

            p Note that this is running on one of my own recycled servers, and may not have 100% uptime.  Let me know if it goes down.

            p
                | If you don't have an account and would like to add recipes, I'll add you if one of my friends will vouch for you.  If you have any technical issues or suggestions, contact me at 
                | <a href="mailto:rwestlun@gmail.com">rwestlun@gmail.com</a>.
            p Randy Westlund

    .col-md-6.col-xs-12
        .well
            h3.tight Rules
            ol
                li Be respectful.
                li You may only edit the recipes you've created.
                li Keep the number of tags low, or it will be too many to be useful.
