

.row
    .col-md-6.col-xs.12
        .well
            h3.tight Welcome!
            p Welcome to our recipe database!  This started as a project just for my wife and I, because we got tired of keeping track of a bunch of links to other websites with inconsistent formatting, changing links, etc.

            p We decided to improve it and open it to others.  Anyone can access information here, and family and friends will have the ability to log in and add recipes.

            p Note that this is running on one of my own recycled servers, and may not have 100% uptime.  Let me know if it goes down.

            p
                | If you don't have an account and would like to add recipes, I'll add you if one of my friends will vouch for you.  If you have any technical issues or suggestions, contact me at 
                | <a href="mailto:rwestlun+recipes@gmail.com">rwestlun+recipes@gmail.com</a>.
            p Randy Westlund

    .col-md-6.col-xs-12
        .well
            h3.tight Rules
            ol
                li Be respectful.
                li You may only edit the recipes you've created.
                li Keep the number of tags low, or it will be too many to be useful.
