//- vim: filetype=javascript
//- Copyright (c) 2015, Randy Westlund.  All rights reserved.
//- 
//- Redistribution and use in source and binary forms, with or without
//- modification, are permitted provided that the following conditions are met:
//- 
//- 1. Redistributions of source code must retain the above copyright notice, this
//- list of conditions and the following disclaimer.
//- 
//- 2. Redistributions in binary form must reproduce the above copyright notice,
//- this list of conditions and the following disclaimer in the documentation
//- and/or other materials provided with the distribution.
//- 
//- THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
//- ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
//- WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
//- DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
//- FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
//- DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
//- SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
//- CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
//- OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
//- OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

div(ng-class="{'text-danger': type === 'error' }")
    .modal-header
        h3.modal-title {{ title }}

    .modal-body
        p {{ text }}
        // display list if I have it, limit to 10 items
        ul(ng-if='items.length')
            li(ng-repeat='item in (items | limitTo:10)') {{ item }}
            li(ng-if='items.length > 10') And {{ items.length - 10 }} more

    // different footers by type
    .modal-footer
        .row(ng-if="type === 'prompt'")
            .col-xs-6
                button.btn.btn-primary.btn-block(ng-click='ok()')
                    span.glyphicon.glyphicon-thumbs-up
                    |  Yes
            .col-xs-6
                button.btn.btn-warning.btn-block(ng-click='cancel()')
                    span.glyphicon.glyphicon-thumbs-down
                    |  No
        .row(ng-if="type === 'error'")
            .col-xs-12
                button.btn.btn-primary.btn-block(ng-click='ok()') Ok


