.well
    h3.tight Manage Users

    button.btn.btn-success(ng-disabled='!is_modified' ng-click="save_changes()")
        span.glyphicon.glyphicon-save
        |  Save Changes

    .table-responsive
        table.table.table-spaced
            thead
                tr
                    th Name
                    th Email
                    th Role
                    th Last Activity
                    th Date Added
                    th Delete
            tbody
                tr.fade-animation(ng-repeat='user in users')
                    td {{ user.name ? user.name : '(provided by Google on first log in)' }}
                    td: input.form-control(ng-model='user.email')

                    td: .btn-group(dropdown is-open='is_open')
                        button.btn.dropdown-toggle( ng-class="{ "
                            + "'btn-danger': user.role === 'ADMIN', "
                            + "'btn-warning': user.role === 'SALESMAN', "
                            + "'btn-primary': user.role === 'USER', "
                            + "'btn-info': user.role === 'GUEST' }"
                            ) {{ user.role }} 
                            span.caret

                        ul.dropdown-menu(role='menu')
                            li: a(ng-click="user.role='ADMIN'; is_open = false"
                                ) ADMIN
                            li: a(ng-click="user.role='SALESMAN'; is_open = false"
                                ) SALESMAN
                            li: a(ng-click="user.role='USER'; is_open = false"
                                ) USER
                            li: a(ng-click="user.role='GUEST'; is_open = false"
                                ) GUEST
                    td {{ user.lastlog | date:'medium' }}
                    td {{ user.timestamp | date:'medium' }}
                    td: button.btn.btn-sm.btn-danger(ng-click="open_delete_user_modal(user)"): span.glyphicon.glyphicon-trash

.row
    .col-md-6.col-sm-12
        .row
            .col-md-12.col-xs-12
                form.well(role='form' name='add_user_form')
                    h3.tight Add a User
                    .form-group(
                        ng-class="{ 'has-error': add_user_form.email.$invalid }")
                        label Google Account
                        input.form-control(type='email' ng-model='new_user.email'
                            name='email' placeholder='enter email' required)
                    .row
                        .col-xs-6
                            .form-group
                                label Role
                                br
                                .btn-group(dropdown is-open='status.is_open')
                                    button.btn.dropdown-toggle(ng-class="{ "
                                        + "'btn-danger': new_user.role === 'ADMIN', "
                                        + "'btn-warning': new_user.role === 'SALESMAN', "
                                        + "'btn-primary': new_user.role === 'USER', "
                                        + "'btn-info': new_user.role === 'GUEST' }"
                                        ) {{ new_user.role }} 
                                        span.caret
                                    ul.dropdown-menu(role='menu')
                                        li: a(ng-click="new_user.role='ADMIN'; "
                                            + "status.is_open = false") ADMIN
                                        li: a(ng-click="new_user.role='SALESMAN'; "
                                            + "status.is_open = false") SALESMAN
                                        li: a(ng-click="new_user.role='USER'; "
                                            + "status.is_open = false") USER
                                        li: a(ng-click="new_user.role='GUEST'; "
                                            + "status.is_open = false") GUEST
                        .col-xs-6
                            .form-group
                                // invisible label to make buttons line up
                                // I know, I know, I'm a terrible person
                                label.invisible .
                                br
                                button.btn.btn-success.btn-block(type='submit'
                                    ng-click="add_user()"
                                    ng-disabled="add_user_form.email.$invalid")
                                    span.glyphicon.glyphicon-plus
                                    |  Create User
            // info
            .col-md-12.col-xs-12
                .well
                    h3.tight Info
                    p Here you may manage users.  When a user logs in for the first time, their account will be activated and user name will be populated from their Google profile.

                    p The only time you need to click 'Save Changes' is after modifying an email address or user role.  Adding or deleting users takes effect immediately.

    .col-md-6.col-sm-12
        .well
            h3.tight User Roles
            dl
                dt ADMIN
                    dd A superuser.  Only ADMINS can manage users and system configuration.
                dt SALESMAN
                    dd Can create, modify, and delete customers and jobs, as well as see all pricing information.
                dt USER
                    dd Has read-only access to jobs and customers, with the exception of modifying materials used and time spent for jobs.  USERs can not see any financial information.
                dt GUEST
                    dd Has read-only access to the system.  Like a USER, except with no write access to anything.


